*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  color: #000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
